<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ canonical_url }}">
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    <title>{{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}</title>
    {{ content_for_header }}
    {{ settings.font_body | font_face: font_display: 'swap' }}
    {{ settings.font_heading | font_face: font_display: 'swap' }}
    <style>
      :root{
        --color-bg:{{ settings.color_background }};--color-text:{{ settings.color_text }};
        --color-primary:{{ settings.color_primary }};--color-primary-contrast:{{ settings.color_primary_contrast }};
        --color-border:{{ settings.color_border }};--color-accent:{{ settings.color_accent }};
        --font-heading:{{ settings.font_heading.family }}, {{ settings.font_heading.fallback_families }};
        --font-body:{{ settings.font_body.family }}, {{ settings.font_body.fallback_families }};
        --radius:{{ settings.border_radius }}px;
      }
    </style>
    {{ 'theme.css' | asset_url | stylesheet_tag }}
  </head>
  <body class="template-password">
    {{ content_for_layout }}
  </body>
</html>
